
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Patient

<h1>Consultation Patient</h1>

@Html.DisplayFor(model => model.Ticket)
<br />
