@{
    Layout = "~/Views/Shared/_LayoutAccueil.cshtml";
    ViewData["Title"] = "RECEPTIONNE";
}

@model Patient

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header border-bottom">
                <h4 class="card-title">TICKET</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bg-info dash-widget">
                            <div class="dash-widget-info text-left d-flex justify-content-between">
                                <h3 class="mb-0 d-flex justify-content-between align-item-center text-white">@Html.DisplayFor(model => model.Ticket)</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header border-bottom">
                <h4 class="card-title">Receptionne</h4>
            </div>
            <div class="card-body">
                <form asp-action="Consultation">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Ticket" />
                    <input type="hidden" asp-for="Receptionne" />
                    <input type="hidden" asp-for="Accueil" />
                    <div class="form-group row">
                        <label asp-for="ResultatConsultation" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <textarea asp-for="ResultatConsultation" class="form-control"></textarea>
                        </div>
                        <span asp-validation-for="ResultatConsultation" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Service" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                            <select asp-for="Service" class="form-control">
                                <option>GYNECO</option>
                                <option>DENTAIRE</option>
                            </select>
                        </div>
                        <span asp-validation-for="Sexe" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Cout" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                        <input asp-for="Cout" class="form-control" />
                        </div>
                        <span asp-validation-for="Cout" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Nom" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                        <input asp-for="Nom" class="form-control" />
                        </div>
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Prenom" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                        <input asp-for="Prenom" class="form-control" />
                        </div>
                        <span asp-validation-for="Prenom" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Sexe" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                        <select asp-for="Sexe" class="form-control">
                            <option>HOMME</option>
                            <option>FEMME</option>
                        </select>
                        </div>
                        <span asp-validation-for="Sexe" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Age" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                        <input asp-for="Age" class="form-control" />
                        </div>
                        <span asp-validation-for="Age" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Telephone" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                        <input asp-for="Telephone" class="form-control" />
                        </div>
                        <span asp-validation-for="Telephone" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Adresse" class="col-md-3 col-form-label"></label>
                        <div class="col-md-9">
                        <input asp-for="Adresse" class="form-control" />
                        </div>
                        <span asp-validation-for="Adresse" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <input type="submit" value="Save" class="btn btn-primary btn-block" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>