@{
    Layout = "~/Views/Shared/_LayoutAccueil.cshtml";
    ViewData["Title"] = ViewData["POSTE"];
}

<div class="w-100 d-flex justify-content-center align-items-center">
	<div class="w-100 card-box text-center">
		<img src="~/img/logo-dark.png" width="200" height="200" alt="">
		<hr />
		<div class="mt-2 text-center">
			<h1>@ViewData["POSTE"]</h1>
			<h3 class="mt-2 mb-1 text-secondary">CWeb</h3>
			<small class="mb-0 text-secondary">Copyright 2024</small>
		</div>
	</div>
</div>
