@{
    Layout = "~/Views/Shared/_LayoutAccueil.cshtml";
    ViewData["Title"] = "FILE D'ATTENTE";
}
@model IEnumerable<Patient>

<div class="w-100 row">
    <div class="col-md-10 mx-auto">
        <div class="card">
            <div class="card-header border-bottom">
                <h4 class="card-title">FILE D'ATTENTE</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-xl-4">
                            <div class="bg-info dash-widget">
                                <div class="dash-widget-info text-left d-flex justify-content-between">
                                    <h3 class="mb-0 d-flex justify-content-between align-item-center text-white">@item.Ticket</h3>
                                    <div class="d-flex justify-content-between align-item-center text-white">
                                        <a asp-controller="Accueil" asp-action="Consultation" asp-route-id="@item.Id" class="small btn-sm btn-outline-success btn ml-1"><i class="fa fa-edit"></i></a>
                                        <a asp-controller="Accueil" asp-action="Retire" asp-route-id="@item.Id" class="small btn-sm btn-outline-danger btn"><i class="fa fa-times"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


