@{
    Layout = "~/Views/Shared/_LayoutService.cshtml";
    ViewData["Title"] = "EDIT PASSWORD";
}
@model Personnel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header border-bottom">
                <h4 class="card-title">Modifier votre mot de passe</h4>
            </div>
            <div class="card-body">
                <form asp-action="EditProfilePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Login" />
                    <input type="hidden" asp-for="Poste" />
                    <input type="hidden" asp-for="Nom" />
                    <input type="hidden" asp-for="Prenom" />
                    <input type="hidden" asp-for="Adresse" />
                    <input type="hidden" asp-for="Telephone" />
                    <input type="hidden" asp-for="Sexe" />
                    <input type="hidden" asp-for="Password" />
                    <div class="form-group">
                        <label>Ancien mot de passe</label>
                        <input name="oldpassword" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Nouveau mot de passe</label>
                        <input name="newpassword" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>Confirmer le mot de passe</label>
                        <input name="newpassword2" class="form-control" required />
                    </div>
                    <small class="text-danger"> @ViewData["message"]</small>
                    <small class="text-success"> @ViewData["messageReussie"]</small>
                    <div>
                        <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>