@{
    Layout = "~/Views/Shared/_LayoutService.cshtml";
    ViewData["Title"] = "PERSONNEL";
}


<div class="w-100 d-flex justify-content-center align-items-center">
	<div class="w-100 card-box text-center">
		<img src="~/img/logo.png" width="200" height="200" alt="" style="background-color: #009efb;">
		<hr />
		<div class="mt-2 text-center">
			<h1>CWEB</h1>
			<h3 class="mt-2 mb-1 text-secondary">Clinique Gestion</h3>
			<small class="mb-0 text-secondary">Copyright 2024 | Version 1.0</small>
		</div>
	</div>
</div>