@model DataFileAccueil

<div>
    <h6>ATTENTE</h6>   
    @foreach (var item in Model.Attente)
    {
        @item.Ticket
        <br/>
    }
</div>

<div>
    <h6>ACCUEIL I</h6>   
    @foreach (var item in Model.Accueil1)
    {
        @item.Ticket
        <br />
    }
</div>

<div>
    <h6>ACCUEIL II</h6>
    @foreach (var item in Model.Accueil2)
    {
        @item.Ticket
        <br />
    }
</div>

<div>
    <h6>ACCUEIL III</h6>
    @foreach (var item in Model.Accueil3)
    {
        @item.Ticket
        <br />
    }
</div>